@import "../libs/normalize.scss";
@import "../libs/variable.scss";


.wrapper{
    overflow: hidden;
    padding-top: 56px;
    position: relative;
    display: flex;
    flex-direction:column;
    width: 1200px;
    max-height: 772px;
    margin: 0 auto;
    @media (max-width: 320px) {
        max-height:492px;
        width: 320px;
        padding-top: 23px;
    }
}


.admin{
    left: -8px;
    position: relative;
    padding-bottom:50px;
    top:108px;
    width: 1102px;
    max-height:275px;
    margin: 0 auto;
    background-color: rgba(255, 118, 0, 0.2);
    border-radius: 30px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.10);
    @media (max-width: 320px) {
        left: 0px;
        top: 63px;
        width: 320px;
        height: 182px;
        padding-top: 18px;
    
    }
}

.statistics{
    padding-top:210px;
     padding-left: 77px;
     @media (max-width: 320px) {
         padding-top: 114px;
         padding-left: 0px;
     
     }
 }


 .table{
    position: relative;
    padding-left:38px;
    padding-top:31px;
    @media (max-width: 320px) {
        padding-left:10px;
        padding-top:3px;
    }

    &Title{
        >span{
            line-height: 21px;
            font-weight: $weight-700;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            @media (max-width: 320px) {
                line-height: 14px; 
                font-size: 12px;
            }
        }
    }

  
    &Head{
        padding-top:32px;
        position: relative;
        display: grid;
        grid-template-columns: 190px 152px 109px 155px;
        grid-template-rows:30px;
        @media (max-width: 320px) {
            padding-top:20px;
            grid-template-columns: 98px 62px 64px 76px;
            grid-template-rows:20px;
             }

        >div{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
        line-height: 21px;
        word-spacing: 4px;
        background:  rgb(240,158,86, 0.3);
        border: 1px solid rgba(13, 13, 13, 0.3);
        font-weight: $weight-500;
        @media (max-width: 320px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            word-spacing: 0px;
            white-space: pre-wrap;
            font-size: 12px;
            line-height: 12px;
            font-weight: $weight-700;
            }
        }
          
        }
    
    &Body {
        position: relative;
        display: grid;
        grid-template-columns: 190px 152px 109px 155px;
        grid-template-rows:30px;
        @media (max-width: 320px) {
            grid-template-columns: 98px 62px 64px 76px;
            grid-template-rows:20px;
            
        }       
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align:center;
        border: 1px solid rgba(13, 13, 13, 0.3);
        font-weight: $weight-400;
        font-size: 16px;
        line-height: 18.75px;
     
        
    }
}       
} 



